body {
    text-align: center;
    background-color: rgb(207, 183, 229);
}
h1 {
    color: white;
    margin-bottom: 40px;
}
img {
    max-width: 500px;
    border-radius: 10%;
    margin-bottom: 20px;
}
.pagelinks {
    margin-top: 20px;
    
}
.pagelinks a {
    color: white;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.recipe {
    font-size: 25px;
   color: blueviolet;
}

.recipe a {
     text-decoration: none;
}
.main-text {
    padding: 16px 222px;
}
button {
    border-radius: 40px;
    padding: 10px ;
    text-decoration: none;
    box-shadow:grey 3px 3px 1px;
}
button:hover {
    color: white;
    background-color: purple;
    box-shadow: 10px;
    text-decoration: none;
}